/*
*	GENERAL
*/

li {
	list-style-type: none;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*
*	HEADER
*/

.hbar {
	position: fixed;
	text-align: right;
	font-size: 0.88em;
	top: 2px;
	right: 15px;
}

.header {
	display: inline-block;
}

.header a {
	margin: 0 8px;
}

.header-icons {
	position: relative;
	top: 4px;
	left: -5px;
}

.header-icons img {
	width: 18px;
}

#button-share {
	padding: 6px 15px;
	background: #EEE;
	border-radius: 5%;
	text-decoration: none;
}

.header-avatar img {
	border-radius: 50%;
	width: 32px;
	position: relative;
	top: 9px;
	left: -15px;
}

/*
*	LOGO
*/

#logo {
	background: url("../images/logo11w.png") no-repeat center; 
	background-size: 269px 95px; 
	height: 95px; 
	width: 269px;
}



/*
*	FOOTER
*/

.fbar {
	min-width: 100%;
	position: fixed;
	bottom: 3px;
	margin: -10px;
	border-top: 0.1em solid #EEE;
	background-color: #EEE;
}

.footer {
	display: inline-block;
	margin-top: -5px;
}

.footer li{
	font-size: 0.9em;
	display: inline-block;
	margin: 0 15px;
}

.footer li a{
	color: #666;
}

.left-footer {
	float: left;
}

.left-footer ul{
	padding-left: 15px;
}

.right-footer {
	float: right;
}

.right-footer ul{
	padding-right: 20px;
}